## https://www.redhat.com/sysadmin/podman-shareable-systemd-services
[Unit]
Description=Quay Clair Scanner Notifier Service
Wants=network.target quay-clair-database.service
After=network-online.target

[Service]
Type=forking
TimeoutStartSec=5m
Restart=on-failure
RestartSec=30
KillMode=none
PIDFile=%t/%n-pid

Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=REGISTRY_AUTH_FILE=/etc/containers/pull-secret.json

EnvironmentFile=-/etc/sysconfig/quay

ExecStartPre=/bin/rm -f %t/%n-pid %t/%n-cid

ExecStart=/usr/bin/podman run --conmon-pidfile %t/%n-pid \
                              --cidfile %t/%n-cid \
                              --cgroups=no-conmon \
                              --detach \
                              $QUAY_COMMON_EXTRA_OPTS \
                              $QUAY_CLAIRV4_EXTRA_OPTS \
                              --volume ${QUAY_CLAIRV4_CONFIG}:/clair:z,ro \
                              --publish 8080:8080 \
                              --sysctl net.core.somaxconn=4096 \
                              --env CLAIR_CONF=/clair/config.yaml \
                              --env CLAIR_MODE=notifier \
                              --name quay-clairv4-notifier \
                              $QUAY_CLAIRV4_IMAGE

ExecStop=-/usr/bin/podman stop --ignore --time 10 --cidfile %t/%n-cid

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid

[Install]
WantedBy=multi-user.target
